<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gbw.dao.ItemDao">
    <select id="findItemsbyBuyer"  resultType="item">
         select *from item
         where
        <if test="itemname!=null and itemname!='' ">
         itemname like concat("%",#{itemname},"%") and
        </if>
         buyer=#{buyer}
    </select>
    <insert id="buy" parameterType="item">
       insert into item(itemname,sum,time,buyer) values(#{itemname},#{sum},#{time},#{buyer})
    </insert>
    <delete id="deleteItems" parameterType="int">
        delete from item where id=#{id}
    </delete>
    <select id="findItemsById" parameterType="int" resultType="item">
        select *from item where id=#{id}
    </select>
    <update id="updateItemsById" parameterType="item" >
        update item set itemname=#{itemname},sum =#{sum} ,time=#{time} where id=#{id}
    </update>
</mapper>